@import url('@/assets/fonts/font.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body
{
	scrollbar-gutter: stable;
}

::-webkit-scrollbar
{
	background: transparent;
	width: 8px;
	border-radius: 100vh;
}

:is(:not(body))::-webkit-scrollbar-thumb
{
	background: var(--accent-primary);
	border-radius: 100vh;
}

:is(:not(body))::-webkit-scrollbar-thumb:hover
{
	background: color-mix(in lab, var(--accent-primary), transparent 50%);
	border-radius: 100vh;
}

body::-webkit-scrollbar-thumb
{
	background: var(--accent-primary);
	border-radius: 100vh;
}

body::-webkit-scrollbar-thumb:hover
{
	background: color-mix(in lab, var(--accent-primary), transparent 50%);
	border-radius: 100vh;
}

::selection
{
	background-color: color-mix(in lab, var(--accent-primary), transparent 60%);
}